# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
%pip install pandas

import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df = pd.read_csv(url)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\gabyt\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gabyt\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gabyt\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gabyt\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gabyt\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\gabyt\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
df.shape

(4008, 11)

In [19]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    0 non-null      float64
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(4), object(7)
memory usage: 344.6+ KB

In [18]:
df['Customer Lifetime Value'] = pd.to_numeric(df['Customer Lifetime Value'], errors='coerce')

In [21]:
df.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value         0
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [23]:
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    print(f"{col}: {df[col].unique()}")

Customer: ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
ST: ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
GENDER: [nan 'F' 'M' 'Femal' 'Male' 'female']
Education: ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
Number of Open Complaints: ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
Policy Type: ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
Vehicle Class: ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [25]:
numerical_cols = df.select_dtypes(include='number').columns
df[numerical_cols].describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,0.0,1071.000000,1071.000000,1071.000000
mean,NaN,39295.701214,193.234360,404.986909
std,NaN,30469.427060,1601.190369,293.027260
min,NaN,0.000000,61.000000,0.382107
25%,NaN,14072.000000,68.000000,202.157702
50%,NaN,36234.000000,83.000000,354.729129
75%,NaN,64631.000000,109.500000,532.800000
max,NaN,99960.000000,35354.000000,2893.239678

In [35]:
df.select_dtypes(include='number').columns

Index(['Customer Lifetime Value', 'Income', 'Monthly Premium Auto',
       'Total Claim Amount'],
      dtype='object')

In [37]:
df[numerical_cols].agg(['mean', 'min', 'max', 'std'])

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
mean,NaN,39295.701214,193.234360,404.986909
min,NaN,0.000000,61.000000,0.382107
max,NaN,99960.000000,35354.000000,2893.239678
std,NaN,30469.427060,1601.190369,293.027260

In [40]:
df[numerical_cols].mode().iloc[0]
df[numerical_cols].quantile([0.25, 0.5, 0.75])

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
0.25,NaN,14072.0,68.0,202.157702
0.50,NaN,36234.0,83.0,354.729129
0.75,NaN,64631.0,109.5,532.800000

In [41]:
for col in categorical_cols:
    print(f"\n{col} vaue counts:")
    print(df[col].value_counts)

Customer vaue counts:
<bound method IndexOpsMixin.value_counts of 0       RB50392
1       QZ44356
2       AI49188
3       WW63253
4       GA49547
         ...
4003        NaN
4004        NaN
4005        NaN
4006        NaN
4007        NaN
Name: Customer, Length: 4008, dtype: object>

ST vaue counts:
<bound method IndexOpsMixin.value_counts of 0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: ST, Length: 4008, dtype: object>

GENDER vaue counts:
<bound method IndexOpsMixin.value_counts of 0       NaN
1         F
2         F
3         M
4         M
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: GENDER, Length: 4008, dtype: object>

Education vaue counts:
<bound method IndexOpsMixin.value_counts of 0                     Master
1                   Bachelor
2                   Bachelor
3                   Bachelor
4       High School or Below
                ...
4003                     NaN
4004                     NaN
4005                     NaN
4006                     NaN
4007                     NaN
Name: Education, Length: 4008, dtype: object>

Number of Open Complaints vaue counts:
<bound method IndexOpsMixin.value_counts of 0       1/0/00
1       1/0/00
2       1/0/00
3       1/0/00
4       1/0/00
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: Number of Open Complaints, Length: 4008, dtype: object>

Policy Type vaue counts:
<bound method IndexOpsMixin.value_counts of 0        Personal Auto
1        Personal Auto
2        Personal Auto
3       Corporate Auto
4        Personal Auto
             ...
4003               NaN
4004               NaN
4005               NaN
4006               NaN
4007               NaN
Name: Policy Type, Length: 4008, dtype: object>

Vehicle Class vaue counts:
<bound method IndexOpsMixin.value_counts of 0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
4003              NaN
4004              NaN
4005              NaN
4006              NaN
4007              NaN
Name: Vehicle Class, Length: 4008, dtype: object>

# Challenge 2: analying the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [47]:
state_counts = df['ST'].value_counts()
least_common_states = state_counts.sort_values(ascending=True)
top_5_least_common = least_common_states.head(5)
print(top_5_least_common)
top_5_least_common.rename("Frequency")

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: Frequency, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [50]:
policy_counts = df['Policy Type'].value_counts()
print(policy_counts)

most_sold_policy = policy_counts.idxmax()
print("Most sold policy type:", most_sold_policy)

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64
Most sold policy type: Personal Auto

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [51]:
personal_auto_df = df.loc[df['Policy Type'] == 'Personal Autp']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

avg_income_personal = personal_auto_df['Income'].mean()
avg_income_corporate = corporate_auto_df['Income'].mean()

print("Average Income (Personal Auto):", avg_income_personal)
print("Average Income (Corporate Auto):", avg_income_corporate)

Average Income (Personal Auto): nan
Average Income (Corporate Auto): 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [52]:
claim_75th = df['Total Claim Amount'].quantile(0.75)
high_claim_df = df[df['Total Claim Amount'] > claim_75th]
summary_stats = high_claim_df.describe()

print("75th percentile of Total Claim Amount:", claim_75th)
print("Summary statistics for top 25% claimers:\n", summary_stats)

75th percentile of Total Claim Amount: 532.8
Summary statistics for top 25% claimers:
        Customer Lifetime Value        Income  Monthly Premium Auto  \
count                      0.0    264.000000            264.000000
mean                       NaN  23677.344697            165.193182
std                        NaN  27013.483721            623.930992
min                        NaN      0.000000             63.000000
25%                        NaN      0.000000             99.000000
50%                        NaN  18807.000000            114.000000
75%                        NaN  42423.750000            133.250000
max                        NaN  99316.000000          10202.000000

       Total Claim Amount
count          264.000000
mean           782.228263
std            292.751640
min            537.600000
25%            606.521741
50%            679.597985
75%            851.400000
max           2893.239678